{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Application not ready' %}{% endblock %}

{% block content %}
<h1>{% trans 'Thank you for choosing the Cloudreach Control Panel for Google Apps' %}</h1>
<p style="margin-top: 2em;">{% blocktrans %}We are preparing your account, which will be ready shortly. This page will
automatically reload.{% endblocktrans %}</p>
<script type="text/javascript">setTimeout(function() { window.location = '{{ next }}'; }, 15000);</script>
{% endblock %}
