{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Setup domain' %}{% endblock %}

{% block content %}
<h1>{% trans 'Setup domain' %}</h1>
<p style="margin: 1em 0;">{% blocktrans %}At present we require a valid Google Apps administrator
account and password in order to access and control user information in
your domain. Cloudreach are working with Google to remove the need for this,
which will come with a future release of the Google Apps Provisioning
API.{% endblocktrans %}</p>

<p style="margin: 1em 0;">{% blocktrans %}For the time being we recommend that you use a
dedicated administrator account for the Cloudreach Control Panel, to prevent
the Panel becoming inactive if an administrator leaves your organisation.
You may change the administrator account and password at any time from the
Settings menu within the application.{% endblocktrans %}</p>

{% if fix %}
<div class="error">
{% blocktrans %}
Administrator credentials for this domain <strong>are not correct</strong>.
Please enter <strong>valid credentials</strong> to continue using this application.
{% endblocktrans %}
</div>
{% endif %}

{% if form.non_field_errors %}
<p>{{ form.non_field_errors }}</p>
{% endif %}
<form method="POST" action="">
        {{ form.callback }}
        {% if email %}
        <p>{{ form.account.label_tag }}: <strong>{{ email }}</strong> <a href="{{ other_user_url }}">[ {% trans 'use different user' %} ]</a></p>
        {% else %}
        {% for error in form.account.errors %}
        <div class="error">{{ error }}</div>
        {% endfor %}
        <p>{{ form.account.label_tag }}: {{ form.account }} <strong>@{{ domain }}</strong></p>
        {% endif %}
        {% for error in form.password.errors %}
        <div class="error">{{ error }}</div>
        {% endfor %}
        <p>{{ form.password.label_tag }}: {{ form.password }}</p>
        {% if form.captcha_url.data %}
        <p><img src="{{ form.captcha_url.data }}"></p>
        {{ form.captcha_token }}
        {{ form.captcha_url.as_p }}
        <p>{{ form.captcha.errors }}</p>
        <p>{{ form.captcha.label_tag }}: {{ form.captcha }}</p>
        {% endif %}
        <p><input type="submit" value="{% trans 'Save' %}"></p>
</form>
{% endblock %}
