{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Enter your Google Apps domain name' %}{% endblock %}

{% block content %}
<form method="POST" action="" class="login">
        {% if not with_domains %}
        <p>{% trans 'Enter your Google Apps domain name:' %}</p>
        {% endif %}
        {% for error in form.domain.errors %}
        <div class="error">{{ error }}</div>
        {% endfor %}
        <p>{{ form.domain.label_tag }} {{ form.domain }}</p>
        <p><input type="submit" class="default" value="{% trans 'Login' %}"></p>
</form>
{% endblock %}
