html {
	font-size: 62.5%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
}

table {
	font-size: inherit;
}

a:link, a:visited {
	color: #06c;
}

a:hover {
	color: #c60;
}

a.asc {
	background: url('/static/down_2.gif') no-repeat scroll right center transparent;
	padding-right: 10px;
}

a.desc {
	background: url('/static/up_2.gif') no-repeat scroll right center transparent;
	padding-right: 10px;
}

div#menu ul {
	clear: both;
	float: left;
	width: 100%;
	background: url("/static/navbar_bg.png");
	padding: 0;
	color: white;
	list-style: none;
}

div#menu li {
	position: relative;
	float: left;
	border-right: 1px solid #59d;
}

div#menu li:hover {
	background: url("/static/navbar_bg3.png");
}

div#menu li.selected {
	background: url("/static/navbar_bg2.png");
}

div#menu li.selected:hover {
	background: url("/static/navbar_bg2.png");
}

div#menu li a {
	display: block;
	padding: 5px 15px;
	text-decoration: none;
	color: white;
	font-weight: bold;
}

table.list {
	border-collapse: collapse;
}

table.list th {
	background: url('/static/tablebar_bg.png') repeat-x scroll center bottom;
	border-bottom: 1px solid #ccc;
}

table.list td {
	border-bottom: 1px solid lightgray;
}

table.list th, table.list td {
	padding: 2px 5px;
	
	text-align: left;
}

table.list tr:hover td {
	background-color: #ffc;
	cursor: pointer;
}

table.list tr.selected td {
	background-color: #ffc;
}

table.details {
	border-collapse: collapse;
}

table.details th, table.details td {
	border-top: 1px solid #ccc;
	
	vertical-align: top;
	
	padding: 10px 0 15px 0;
}

table.details th {
	padding-right: 20px;
	
	width: 12em;
	text-align: right;
}

input[type="submit"] {
	font-weight: bold;
}
