{% extends 'base.html' %}

{% block title %}Captcha Required{% endblock %}

{% block content %}
<h1>Captcha Required</h1>

<form action="" method="POST">
        {% for error in form.non_field_errors %}
        <p>{{ error }}</p>
        {% endfor %}
        <p>
        <img src="{{ form.captcha_url }}">
        </p>
        <input type="hidden" name="captcha_url" value="{{ form.captcha_url }}">
        {{ form.captcha }}
        {{ form.captcha_token }}
        <p>
        <input type="submit" value="Send">
        </p>
</form>
{% endblock %}
