<table class="list" width="100%">
	<!-- column width specifiers -->
	{% for width in widths %}
		<col width="{{ width }}"/>
	{% empty %}
	{% endfor %}
	
	<!-- table header -->
	<thead>
		<tr>
			<th><input type="checkbox" id="{{ tableName }}_select" onchange="cr.table.onSelectAll(this)"/></th>
			{% for colspec in columns %}
				<th>
					<a href="?sortby={{ colspec.name }}{% ifequal colspec.name sortby.name %}{% if asc %}&asc=false{% endif %}{% endifequal %}"
							{% ifequal colspec.name sortby.name %}
								class="{% if asc %}asc{% else %}desc{% endif %}"
							{% endifequal %}>
						{{ colspec.caption }}
					</a>
				</th>
			{% endfor %}
		</tr>
	</thead>
	
	<!-- table body -->
	<tbody>
		{% for row in rows %}
			<tr id="{{ tableName }}_row_{{ forloop.counter0 }}">
				<td><input type="checkbox" id="{{ tableName }}_select_{{ forloop.counter0 }}" onchange="cr.table.onSelectRow(this)"/></td>
				{% for obj in row.data %}
					<td onclick="cr.table.showDetails('{{ row.id }}')">{{ obj }}</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>