{% extends "base.html" %}

{% block title %}Users list{% endblock %}

{% block content %}
{{ table|safe }}
<!--<table class="data" width="100%">
	<col width="5%"/>
	<col width="15%"/>
	<col width="25%"/>
	<col width="15%"/>
	<col width="15%"/>
	<col width="15%"/>
	<col width="10%"/>
	
	<tbody>
		<tr>
			<th><input type="checkbox"/></th>
			<th><a {% ifequal order '+name' %}class="asc" {% endifequal %}{% ifequal order '+name' %}class="asc" {% endifequal %}href="?sortby=name{% ifequal order '+name' %}&asc=false{% endifequal %}">Name</a></th>
			<th><a {% ifequal order '+username' %}class="asc" {% endifequal %}{% ifequal order '+name' %}class="asc" {% endifequal %}href="?sortby=username{% ifequal order '+username' %}&asc=false{% endifequal %}">Username</a></th>
			<th><a {% ifequal order '+status' %}class="asc" {% endifequal %}{% ifequal order '+name' %}class="asc" {% endifequal %}href="?sortby=status{% ifequal order '+status' %}&asc=false{% endifequal %}">Status</a></th>
			<th><a {% ifequal order '+quota' %}class="asc" {% endifequal %}{% ifequal order '+name' %}class="asc" {% endifequal %}href="?sortby=quota{% ifequal order '+quota' %}&asc=false{% endifequal %}">Email Quota</th>
			<th><a {% ifequal order '+roles' %}class="asc" {% endifequal %}{% ifequal order '+name' %}class="asc" {% endifequal %}href="?sortby=roles{% ifequal order '+roles' %}&asc=false{% endifequal %}">Roles</th>
			<th><a {% ifequal order '+last_login' %}class="asc" {% endifequal %}{% ifequal order '+name' %}class="asc" {% endifequal %}href="?sortby=last_login{% ifequal order '+last_login' %}&asc=false{% endifequal %}">Last signed in</th>
		</tr>
		{% for obj in objects %}
		<tr>
			<td><input type="checkbox"/></td>
			<td>{{ obj.name }}</td>
			<td>{{ obj.username }}</td>
			<td>{{ obj.status }}</td>
			<td>{{ obj.quota }}</td>
			<td>{{ obj.roles }}</td>
			<td>{{ obj.last_login }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>-->
{% endblock %}
