{% extends "base.html" %}

{% block title %}Users list{% endblock %}

{% block content %}
<table class="data" width="100%">
	<col width="5%"/>
	<col width="15%"/>
	<col width="25%"/>
	<col width="15%"/>
	<col width="15%"/>
	<col width="15%"/>
	<col width="10%"/>
	
	<tbody>
		<tr>
			<th><input type="checkbox"/></th>
			<th><a href="?sortby=name{% ifequal sortby 'name' %}{% if asc %}&asc=false{% endif %}{% endifequal %}">Name</a></th>
			<th><a href="?sortby=username{% ifequal sortby 'username' %}{% if asc %}&asc=false{% endif %}{% endifequal %}">Username</a></th>
			<th><a href="?sortby=status{% ifequal sortby 'status' %}{% if asc %}&asc=false{% endif %}{% endifequal %}">Status</a></th>
			<th><a href="?sortby=quota{% ifequal sortby 'quota' %}{% if asc %}&asc=false{% endif %}{% endifequal %}">Email Quota</th>
			<th><a href="?sortby=roles{% ifequal sortby 'roles' %}{% if asc %}&asc=false{% endif %}{% endifequal %}">Roles</th>
			<th><a href="?sortby=last_login{% ifequal sortby 'last_login' %}{% if asc %}&asc=false{% endif %}{% endifequal %}">Last signed in</th>
		</tr>
		{% for obj in objects %}
		<tr>
			<td><input type="checkbox"/></td>
			<td>{{ obj.name }}</td>
			<td>{{ obj.username }}</td>
			<td>{{ obj.status }}</td>
			<td>{{ obj.quota }}</td>
			<td>{{ obj.roles }}</td>
			<td>{{ obj.last_login }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
