{% extends "base.html" %}

{% block title %}User details: {{ name }}{% endblock %}

{% block content %}
	<form action="/users/{{ name }}/" method="POST" style="border: 1px solid #cccccc; padding: 20px">
		<div><a href="..">Back to user list</a></div>
		<table class="details" width="100%">
			<tbody>
				<tr>
					<td colspan="2">
						<h1>{{ given_name }} {{ family_name }}</h1>
					</td>
				</tr>
				{% for field in form %}
					<tr>
						<th>{{ field.label_tag }}</th>
						<td>
							{% ifnotequal field.help_text "" %}
								<label for="{{ field.html_name }}">
							{% endifnotequal %}
							{{ field }}
							{% ifnotequal field.help_text "" %}
								{{ field.help_text }}</label>
							{% endifnotequal %}
						</td>
					</tr>
				{% endfor %}
				<tr>
					<td></td>
					<td>
						<input type="submit" value="save"/>
						<input type="reset" value="reset"/>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
{% endblock %}
