{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/DTD/strict.dtd">
<html>
	<head>
		<title>{% block title %}SAMPLE TITLE{% endblock %}</title>
		
		<link rel="Stylesheet" href="/static/styles/style.css" type="text/css"/>
		<link rel="Stylesheet" href="/static/closure-library/closure/goog/css/dialog.css" type="text/css"/>
		{% for style in styles %}
		<link rel="Stylesheet" href="/static/styles/{{ style }}.css" type="text/css"/>
		{% endfor %}
		
		<script type="text/javascript" src="/static/closure-library/closure/goog/base.js"></script>
		<script type="text/javascript" src="/static/scripts/commons.js"></script>
		{% for script in scripts %}
		<script type="text/javascript" src="/static/scripts/{{ script }}.js"></script>
		{% endfor %}
	</head>
	<body style="margin: 0px; padding: 20px">
		<div id="menu">
			<ul>
				{% for section in sections %}
					<li{% if section.selected %} class="selected"{% endif %}>
						<a href="{{ section.view|default_if_none:"#" }}">
							{{ section.name }}
						</a>
					</li>
				{% endfor %}
			</ul>
			<div style="clear: both"></div>
		</div>
		
		{% if back_link %}
			<div class="back"><a href="{{ back_link.view }}">&laquo; {% trans "Back to list" %}</a></div>
			{% if sel_subsection.subsections %}
				<div id="tabs">
					<h2 id="tabs_title">{{ sel_subsection.name }}</h2>
					<ul>
						{% for subsubsection in sel_subsection.subsections %}
						<li{% if subsubsection.selected %} class="selected"{% endif %}>
							{% if subsubsection.selected %}
								<b>{{ subsubsection.name }}</b>
							{% else %}
								<a href="{{ subsubsection.view|default_if_none:"#" }}">{{ subsubsection.name }}</a>
							{% endif %}
						</li>
						{% endfor %}
					</ul>
					<div style="clear: both"></div>
				</div>
			{% endif %}
		{% else %}
			{% if sel_section.subsections %}
				<div id="tabs">
					<h2 id="tabs_title">{{ sel_section.name }}</h2>
					<ul>
						{% for subsection in sel_section.subsections %}
						<li{% if subsection.selected %} class="selected"{% endif %}>
							{% if subsection.selected %}
								<b>{{ subsection.name }}</b>
							{% else %}
								<a href="{{ subsection.view|default_if_none:"#" }}">{{ subsection.name }}</a>
							{% endif %}
						</li>
						{% endfor %}
					</ul>
					<div style="clear: both"></div>
				</div>
			{% endif %}
		{% endif %}
		
		<div id="content">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>
