<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/DTD/strict.dtd">
<html>
	<head>
		<title>{% block title %}SAMPLE TITLE{% endblock %}</title>
		<link rel="Stylesheet" href="/static/style.css" type="text/css"/>
		<script type="text/javascript" src="/static/closure-library/closure/goog/base.js"></script>
		<script type="text/javascript" src="/static/commons.js"></script>
		{% block head %}{% endblock %}
	</head>
	<body style="margin: 0px; padding: 20px">
		{% if sel_section %}
		<div id="menu">
			<ul>
				{% for section in sections %}
				<li{% ifequal section.name sel_section.name %} class="selected"{% endifequal %}>
					<a href="{{ section.view|default_if_none:"#" }}">
						{{ section.name }}
					</a>
				</li>
				{% endfor %}
			</ul>
			<div style="clear: both"></div>
		</div>
		{% endif %}
		{% if sel_subsection %}
		<div id="tabs">
			<h2 id="section_title">{{ sel_section.name }}</h2>
			<ul>
				{% for subsection in sel_section.subsections %}
				<li{% ifequal subsection.name sel_subsection.name %} class="selected"{% endifequal %}>
					{% ifequal subsection.name sel_subsection.name %}
						{{ subsection.name }}
					{% else %}
						<a href="{{ subsection.view }}">{{ subsection.name }}</a>
					{% endifequal %}
				</li>
				{% endfor %}
			</ul>
			<div style="clear: both"></div>
		</div>
		{% endif %}
		<div id="content">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>
