{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Group members" %}: {{ group.name }}{% endblock %}

{% block content %}
{% include "snippets/saved_warning.html" %}
<form action="{% url group-members group.get_pure_id %}" method="POST" class="details">
	{% include "snippets/group_header.html" %}
	<table class="details" width="100%">
		<tbody>
			{% with form.owner as field %}{% with owners|dictsort:"value" as items %}
				{% include "snippets/form_field_with_items.html" %}
			{% endwith %}{% endwith %}
			{% with form.member as field %}{% with members|dictsort:"value" as items %}
				{% include "snippets/form_field_with_items.html" %}
			{% endwith %}{% endwith %}
			{% include "snippets/form_save_reset.html" %}
		</tbody>
	</table>
</form>
<script type="text/javascript">
var suggestions = [{% for x in contact_emails %}'{{ x|escapejs }}',{% endfor %}]
new goog.ui.AutoComplete.Basic(suggestions, goog.dom.$('owner'), false)
new goog.ui.AutoComplete.Basic(suggestions, goog.dom.$('member'), false)
</script>
{% endblock %}
