{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Group details" %}: {{ group.name }}{% endblock %}

{% block content %}
{% include "snippets/saved_warning.html" %}
<form action="{% url group-details group.get_pure_id %}" method="POST" class="details">
	{% include "snippets/group_header.html" %}
	<table class="details" width="100%">
		<tbody>
			<tr>
                <th>{% trans 'Email address' %}</th>
				<td>
					<input type="hidden" name="id" value="{{ group.get_pure_id }}"/>
					{% with group.id as value %}{% include "snippets/value.html" %}{% endwith %}
				</td>
			</tr>
			{% with form.name as field %}{% include "snippets/form_field.html" %}{% endwith %}
			{% with form.email_permission as field %}{% include "snippets/form_field.html" %}{% endwith %}
			{% with form.description as field %}{% include "snippets/form_field.html" %}{% endwith %}
			{% include "snippets/form_save_reset.html" %}
		</tbody>
	</table>
</form>
{% endblock %}
