{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Create group" %}{% endblock %}

{% block content %}
<form action="{% url group-create %}" method="POST" class="create">
	<h1>{% trans "Create new group" %}</h1><br/>
	
	<label for="id">{% trans "Email address" %}</label><br/>
	{% with form.id as field %}{% include "snippets/form_bare_field.html" %}{% endwith %}
	
	<br/><br/>
	<label for="name">{% trans "Name" %}</label><br/>
	{% with form.name as field %}{% include "snippets/form_bare_field.html" %}{% endwith %}
	
	<br/><br/>
	<label for="email_permission">{% trans "Email permission" %}</label><br/>
	{% with form.email_permission as field %}{% include "snippets/form_bare_field.html" %}{% endwith %}
	
	<br/><br/>
	<label for="description">{% trans "Description" %}</label><br/>
	{% with form.description as field %}{% include "snippets/form_bare_field.html" %}{% endwith %}
	
	<br/><br/>
	<input type="submit" value="{% trans "create" %}" class="default"/>
	<input type="button" onclick="window.open('{% url groups %}', '_self')" value="{% trans "cancel" %}"/>
</form>
{% endblock %}
