{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Group members" %}: {{ group.name }}{% endblock %}

{% block content %}
{% include "snippets/saved_warning.html" %}
<form action="{% url group-details group.id %}" method="POST" class="details">
	{% include "snippets/group_header.html" %}
	<table class="details" width="100%">
		<tbody>
			{% with form.owner as field %}{% with owners|dictsort:"value" as items %}
				{% include "snippets/form_field_with_items.html" %}
			{% endwith %}{% endwith %}
			{% with form.member as field %}{% with members|dictsort:"value" as items %}
				{% include "snippets/form_field_with_items.html" %}
			{% endwith %}{% endwith %}
			{% comment %}<tr>
				<th>Owners</th>
				<td>
					{% for owner in owners|dictsort:"value" %}
					{% with owner as value %}
						{% include "snippets/value.html" %}
						{% if not forloop.last %}<br/>{% endif %}
					{% endwith %}
					{% endfor %}
				</td>
			</tr>
			<tr>
				<th>Members</th>
				<td>
					{% for member in members|dictsort:"value" %}
					{% with member as value %}
						{% include "snippets/value.html" %}
						{% if not forloop.last %}<br/>{% endif %}
					{% endwith %}
					{% endfor %}
				</td>
			</tr>{% endcomment %}
			{% include "snippets/form_save_reset.html" %}
		</tbody>
	</table>
</form>
{% endblock %}
