{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Create role" %}{% endblock %}

{% block content %}
<form action="{% url role-create %}" method="POST" class="create">
	<h1>{% trans "Create new role" %}</h1><br/>
	
	<label for="id">{% trans "Name" %}</label><br/>
	{% with form.name as field %}{% include "snippets/form_bare_field.html" %}{% endwith %}
	
	<br/><br/>
	<label for="name">{% trans "Permissions" %}</label><br/>
	<table class="roles">
		<col width="125"/>
		<col width="50"/>
		<col width="50"/>
		<col width="50"/>
		<tr>
			<td></td>
			<td style="padding: 0px 5px">Add</td>
			<td style="padding: 0px 5px">Change</td>
			<td style="padding: 0px 5px">Read</td>
		</tr>
		{% for field_group in form.field_groups %}
		<tr>
			<td style="text-align: left">{{ field_group.name }}</td>
			<td>{{ field_group.add|default_if_none:'' }}</td>
			<td>{{ field_group.change|default_if_none:'' }}</td>
			<td>{{ field_group.read|default_if_none:'' }}</td>
		</tr>
		{% endfor %}
	</table>
	
	
	<br/><br/>
	<input type="submit" value="{% trans "create" %}" class="default"/>
	<input type="button" onclick="window.open('{% url roles %}', '_self')" value="{% trans "cancel" %}"/>
</form>
{% endblock %}
