{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Shared contact details" %}: {{ shared_contact.name.full_name }}{% endblock %}

{% block content %}
{% include "snippets/saved_warning.html" %}
<form action="{% url shared-contact-details shared_contact.key %}" method="POST" class="details">
	<input type="hidden" name="email" value="_"/>
	<h1 style="display: inline">{{ shared_contact.name.full_name }}</h1>
	<br/>
	<table class="details" width="100%">
		<tbody>
			{% with form.full_name as field %}{% include "snippets/form_field.html" %}{% endwith %}
			{% with form.real_name as field %}{% include "snippets/form_field.html" %}{% endwith %}
			{% with form.company as field %}{% include "snippets/form_field.html" %}{% endwith %}
			{% with form.role as field %}{% include "snippets/form_field.html" %}{% endwith %}
			{% with form.notes as field %}{% include "snippets/form_field.html" %}{% endwith %}
			{% with form.emails as field %}{% with full_emails as items %}
				{% autoescape off %}
					{% include "snippets/form_field_with_items.html" %}
				{% endautoescape %}
			{% endwith %}{% endwith %}
			{% with form.phone_numbers as field %}{% with full_phones as items %}
				{% autoescape off %}
					{% include "snippets/form_field_with_items.html" %}
				{% endautoescape %}
			{% endwith %}{% endwith %}
			{% include "snippets/form_save_reset.html" %}
		</tbody>
	</table>
</form>
{% endblock %}
