{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Add shared contact" %}{% endblock %}

{% block content %}
<form action="{% url shared-contact-add %}" method="POST" class="details">
    <h1>{% trans 'Add shared contact' %}</h1><br/>
	
	<table class="details" width="100%">
		<tbody>
			{% with form.full_name as field %}{% include "snippets/form_field.html" %}{% endwith %}
			{% with form.real_name as field %}{% include "snippets/form_field.html" %}{% endwith %}
			{% with form.company as field %}{% include "snippets/form_field.html" %}{% endwith %}
			{% with form.role as field %}{% include "snippets/form_field.html" %}{% endwith %}
			{% with form.notes as field %}{% include "snippets/form_field.html" %}{% endwith %}
			{% with form.email as field %}{% include "snippets/form_field.html" %}{% endwith %}
			{% with form.phone_number as field %}{% include "snippets/form_field.html" %}{% endwith %}
			{% include "snippets/form_save_reset.html" %}
		</tbody>
	</table>
</form>
{% endblock %}
