{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "User settings" %}: {{ user.given_name }} {{ user.family_name }}{% endblock %}

{% block content %}
{% include "snippets/saved_warning.html" %}
<form action="{% url user-settings user.user_name %}" method="POST" class="details">
	<h1 style="display: inline">{{ user.given_name }} {{ user.family_name }}</h1>
	{% if user.admin %}<span class="admin-label">{% trans "Administrator" %}</span>{% endif %}
	<br/>
	<table class="details" width="100%">
		<tbody>
			<tr>
				<td>POP3</td>
				<td>
					<input type="submit" name="enable_pop" value="Enable"/>
					<input type="submit" name="disable_pop" value="Disable"/>
				</td>
			</tr>
			<tr>
				<td>IMAP</td>
				<td>
					<input type="submit" name="enable_imap" value="Enable"/>
					<input type="submit" name="disable_imap" value="Disable"/>
				</td>
			</tr>
		</tbody>
	</table>
</form>
{% endblock %}
