{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Create user" %}{% endblock %}

{% block content %}
<form action="{% url user-create %}" method="POST" class="create">
	<h1>{% trans "Create new user" %}</h1><br/>
	
	<label for="user_name">{% trans "Username" %}</label><br/>
	{% with form.user_name as field %}{% include "snippets/form_bare_field.html" %}{% endwith %}
	
	<br/><br/>
	<label for="full_name_0">{% trans "First and Last name" %}</label><br/>
	{% with form.full_name as field %}{% include "snippets/form_bare_field.html" %}{% endwith %}
	
	<br/><br/>
	{% trans "Temporary password" %}:
	<input type="hidden" name="password_0" value="{{ temp_password }}"/>
	<input type="hidden" name="password_1" value="{{ temp_password }}"/>
	<span style="color: gray">{{ temp_password }}</span>
	
	<br/><br/>
	<input type="submit" value="{% trans "create" %}" class="default"/>
	<input type="button" onclick="window.open('{% url users %}', '_self')" value="{% trans "cancel" %}"/>
</form>
{% endblock %}
