{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "User details" %}: {{ user.user_name }}{% endblock %}

{% block content %}
	<script type="text/javascript" src="/static/expandField.js"></script>
	<form action="{% url user-details user.user_name %}" method="POST" style="border: 1px solid #cccccc; padding: 20px">
		<div><a href="{% url users %}">&laquo; {% trans "Back to user list" %}</a></div>
		<table class="details" width="100%">
			<tbody>
				<tr>
					<td colspan="2">
						<h1 style="margin-bottom: 0">{{ user.given_name }} {{ user.family_name }}</h1>
						{% if user.suspended %}
							<a href="{% url user-action user.user_name '!suspend'%}">Restore</a>
						{% else %}
							<a href="{% url user-action user.user_name 'suspend'%}">Suspend</a>
						{% endif %}
					</td>
				</tr>
				{% with form.user_name as field %}{% include "snippets/form_field.html" %}{% endwith %}
				{% with form.password as field %}{% include "snippets/form_field.html" %}{% endwith %}
				{% with form.change_password as field %}{% include "snippets/form_field.html" %}{% endwith %}
				{% with form.full_name as field %}{% include "snippets/form_field.html" %}{% endwith %}
				{% with form.admin as field %}{% include "snippets/form_field.html" %}{% endwith %}
				{% with form.nicknames as field %}{% with full_nicknames as items %}
					{% autoescape off %}
						{% include "snippets/form_field_with_items.html" %}
					{% endautoescape %}
				{% endwith %}{% endwith %}
				<tr>
					<td></td>
					<td>
						<input type="submit" value="save"/>
						<input type="reset" value="reset"/>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
{% endblock %}
