{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "User details" %}: {{ user.given_name }} {{ user.family_name }}{% endblock %}

{% block content %}
<script type="text/javascript">
var suspendTitle = '{% trans "Suspend user" %}';
var suspendContent = '{% trans "Are you sure want to suspend selected user?" %}';
var suspendUrl = '{% url user-suspend user.user_name %}';
var dialogSuspend = cr.snippets.userSuspendDialog(suspendTitle, suspendContent, suspendUrl);

var restoreTitle = '{% trans "Restore user" %}';
var restoreContent = '{% trans "Are you sure want to restore selected user?" %}';
var restoreUrl = '{% url user-restore user.user_name %}';
var dialogRestore = cr.snippets.userRestoreDialog(restoreTitle, restoreContent, restoreUrl);

cr.snippets.setUpListener();
</script>

{% include "snippets/saved_warning.html" %}
<form action="" method="POST" class="details">
	{% include "snippets/user_header.html" %}
	{% if user.suspended %}
	<a href="#" onclick="cr.snippets.userShowDialog(dialogRestore)">{% trans "Restore" %}</a>
	{% else %}
	<a href="#" onclick="cr.snippets.userShowDialog(dialogSuspend)">{% trans "Suspend" %}</a>
	{% endif %}
	<table class="details" width="100%">
		<tbody>
			{% with form.user_name as field %}{% include "snippets/form_field.html" %}{% endwith %}
			{% with form.password as field %}{% include "snippets/form_field.html" %}{% endwith %}
			{% with form.change_password as field %}{% include "snippets/form_field.html" %}{% endwith %}
			{% with form.full_name as field %}{% include "snippets/form_field.html" %}{% endwith %}
			{% with form.nicknames as field %}{% with full_nicknames as items %}
				{% include "snippets/form_field_with_items.html" %}
			{% endwith %}{% endwith %}
			{% include "snippets/form_save_reset.html" %}
		</tbody>
	</table>
</form>
{% endblock %}
