{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Aliases" %}: {{ user.given_name }} {{ user.family_name }}{% endblock %}

{% block content %}
{% include "snippets/saved_warning.html" %}
{% include "snippets/form_errors.html" %}
<form action="{% url user-email-aliases user.user_name %}" method="POST" class="details">
	{% include "snippets/user_header.html" %}
	<table class="details" width="100%">
		<tbody>
			{% with form.name as field %}{% include "snippets/form_field.html" %}{% endwith %}
			{% with form.address as field %}{% include "snippets/form_field.html" %}{% endwith %}
			{% with form.reply_to as field %}{% include "snippets/form_field_noline.html" %}{% endwith %}
			{% with form.make_default as field %}{% include "snippets/form_field.html" %}{% endwith %}
			{% include "snippets/form_save_reset.html" %}
		</tbody>
	</table>
</form>
{% endblock %}
