<tr>
	<th>{{ field.label_tag }}</th>
	<td>
		{% if items %}
		<div style="margin-bottom: 0.5em">
			{% for value in items %}
				{% include "snippets/value.html" %}
				{% if value.remove_link %}
					&ndash; <a href="{{ value.remove_link }}">Remove</a>
				{% endif %}
				{% if not forloop.last %}<br/>{% endif %}
			{% endfor %}
		</div>
		{% endif %}
		<div style="margin: 0px">
			{% if field.help_text %}
				<label for="{{ field.html_name }}">
			{% endif %}
			{{ field }}
			{% if field.help_text %}
				{{ field.help_text }}</label>
			{% endif %}
			
			{% for error in field.errors %}
				{% if forloop.first %}
					<span style="color: red">{{ error|escape }}</span>
				{% endif %}
			{% empty %}
			{% endfor %}
		</div>
	</td>
</tr>