{% load i18n %}
<tr>
	<th>{{ field.label_tag }}</th>
	<td{% if field_class %} class="{{ field_class }}"{% endif %}>
		{% if items %}
		<div style="margin-bottom: 0.5em">
			{% for value in items %}
				{% include "snippets/value.html" %}
				{% if value.remove_link %}
                    &ndash; <a href="{{ value.remove_link }}">{% trans 'Remove' %}</a>
				{% endif %}
				{% if not forloop.last %}<br/>{% endif %}
			{% endfor %}
		</div>
		{% endif %}
		<div style="margin: 0px">{% include "snippets/form_bare_field.html" %}</div>
	</td>
</tr>
