{% load i18n %}
<script type="text/javascript">
cr.table.deletes['table'] = function(list, removeUrl) {
	var dialogDelete = new goog.ui.Dialog()
	dialogDelete.setTitle('{% trans "Remove" %} {{ entities_name|escapejs }}')
	dialogDelete.setContent('{% trans "Are you sure want to remove selected" %} {{ entities_name|escapejs }}')
	dialogDelete.setButtonSet(goog.ui.Dialog.ButtonSet.YES_NO)
	
	goog.events.listenOnce(dialogDelete, goog.ui.Dialog.EventType.SELECT, function(e) {
		if (e.key == 'yes') {
			window.open(removeUrl, '_self')
		}
	})
	dialogDelete.setVisible(true)
}

goog.events.listen(window, 'unload', function() {
	goog.events.removeAll()
})
</script>
