<script type="text/javascript">
cr.table.tables['{{ table_name }}'] = [
{% for row in rows %}{% if not forloop.first %},{% endif %}'{{ row.id }}'{% endfor %}
]
</script>
<table class="list" width="100%">
	<!-- column width specifiers -->
	{% for width in widths %}
	<col width="{{ width }}"/>
	{% empty %}
	{% endfor %}
	
	<tbody>
		<!-- table top strip -->
		<tr class="bar">
			<th colspan="{{ columns|length|add:"1" }}">
				<table style="margin: 0; padding: 0; width: 100%"><tbody>
					<tr><td>
						<button id="{{ table_name }}_delete_1" type="button" onclick="cr.table.onDeleteClicked(this)" disabled="disabled">Delete {{ object_plural }}</button>
					</td><td style="text-align: right">
						{% if page %}
							{% if page.has_previous %}<a href="?page={{ page.previous_page_number }}{{ qs_wo_page }}">&laquo;</a>{% endif %}
							{{ page.start_index }} &ndash; {{ page.end_index }}
							{% if page.has_next %}<a href="?page={{ page.next_page_number }}{{ qs_wo_page }}">&raquo;</a>{% endif %}
						{% endif %}
					</td></tr>
				</tbody></table>
			</th>
		</tr>
		
		<!-- table header -->
		<tr class="header">
			<th><input type="checkbox" id="{{ table_name }}_select" onchange="cr.table.onSelectAll(this)"/></th>
			{% for colspec in columns %}
			<th>
				<a href="?sortby={{ colspec.name }}{% ifequal colspec.name sortby.name %}{% if asc %}&asc=false{% endif %}{% endifequal %}"
						{% ifequal colspec.name sortby.name %}
							class="{% if asc %}asc{% else %}desc{% endif %}"
						{% endifequal %}>
					{{ colspec.caption }}
				</a>
			</th>
			{% endfor %}
		</tr>
	
		<!-- table body -->
		{% for row in rows %}
		<tr id="{{ table_name }}_row_{{ forloop.counter0 }}" class="data">
			<td><input type="checkbox" id="{{ table_name }}_select_{{ forloop.counter0 }}" onchange="cr.table.onSelectRow(this)"/></td>
			{% for obj in row.data %}
			<td onclick="cr.table.showDetails('{{ row.id }}')">
				{% include "snippets/objects_table_object.html" %}
			</td>
			{% endfor %}
		</tr>
		{% endfor %}
		
		<!-- table bottom strip -->
		<tr class="bar">
			<th colspan="{{ columns|length|add:"1" }}">
				<table style="margin: 0; padding: 0; width: 100%"><tbody>
					<tr><td>
						<button id="{{ table_name }}_delete_2" type="button" onclick="cr.table.onDeleteClicked(this)" disabled="disabled">Delete {{ object_plural }}</button>
					</td><td style="text-align: right">
						{% if page %}
							{% if page.has_previous %}<a href="?page={{ page.previous_page_number }}{{ qs_wo_page }}">&laquo;</a>{% endif %}
							{{ page.start_index }} &ndash; {{ page.end_index }}
							{% if page.has_next %}<a href="?page={{ page.next_page_number }}{{ qs_wo_page }}">&raquo;</a>{% endif %}
						{% endif %}
					</td></tr>
				</tbody></table>
			</th>
		</tr>
	</tbody>
</table>