{% load tags_filters %}
{% spaceless %}
{% if obj.link and row.url %}<a href="{{ row.url }}">{% endif %}
{% for data in obj.data|iterable %}
	{% with data as value %}
        {% if value|stringformat:"s"|slice:"50:" %}
                {% with value|slice:":50"|stringformat:"s..." as value %}
                {% include "snippets/value.html" %}
                {% endwith %}
        {% else %}
                {% include "snippets/value.html" %}
        {% endif %}
		{% if not forloop.last %}<br/>{% endif %}
	{% endwith %}
{% endfor %}
{% if obj.link and row.url %}</a>{% endif %}
{% endspaceless %}
