{% load i18n %}
<table class="roles">
	<col width="100"/>
	<col width="50"/>
	<col width="50"/>
	<col width="50"/>
	{% if show_roles_table_header %}
	<tr>
		<td></td>
        <td style="padding: 0px 5px">{% trans 'Add' %}</td>
        <td style="padding: 0px 5px">{% trans 'Change' %}</td>
        <td style="padding: 0px 5px">{% trans 'Read' %}</td>
	</tr>
	{% endif %}
	{% for group in section.groups %}
	<tr>
		<td style="text-align: left">{{ group.name }}</td>
		<td>{{ group.add|default_if_none:'' }}</td>
		<td>{{ group.change|default_if_none:'' }}</td>
		<td>{{ group.read|default_if_none:'' }}</td>
	</tr>
	{% endfor %}
</table>
<script type="text/javascript">cr.snippets.createRoleInitPermissions();</script>
