/* clear everything */
div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, fieldset, table, td, th {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	height: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	height: 100%;
}

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}

table, tr, th, td {
	font: inherit;
}

th {
	font-weight: bold;
}

a:link, a:visited {
	color: #06c;
}

a:hover {
	color: #c60;
}

a.asc {
	background: url('/static/images/down_2.gif') no-repeat scroll right center transparent;
	padding-right: 10px;
}

a.desc {
	background: url('/static/images/up_2.gif') no-repeat scroll right center transparent;
	padding-right: 10px;
}

#wrap {
	min-height: 100%;
}

#footer {
    border-top: 1px solid #999;
    text-align: center;
    /* margin: 2em 0 0; */
    padding: 0.5em 0 0;
    clear: both;
    color: #999;
    position: relative;
	margin-top: -50px; /* negative value of footer height */
	height: 50px;
}

form#feedback table td {
        padding: 1em;
        text-align: left;
}

form#feedback table th {
        padding: 1em;
        font-weight: bold;
        text-align: right;
}


/*******************************************************************************
*                                  NAVIGATION                                  *
*******************************************************************************/

div#header {
        margin: 0;
        padding: 0;
        min-height: 30px;
}

div#header ul {
        float: right;
        list-style: none outside none;
}

div#header ul li {
        display: inline;
        padding-left: 6px;
}


div#menu ul {
	clear: both;
	float: left;
	width: 100%;
	background: url("/static/images/navbar_bg.png") repeat scroll 0 0 transparent;
	color: white;
	list-style: none;
}

div#menu li {
	position: relative;
	float: left;
	border-right: 1px solid #59d;
}

div#menu li:hover {
	background: url("/static/images/navbar_bg3.png");
}

div#menu li.selected {
	background: url("/static/images/navbar_bg2.png");
}

div#menu li.selected:hover {
	background: url("/static/images/navbar_bg2.png");
}

div#menu li a {
	display: block;
	padding: 5px 15px;
	text-decoration: none;
	color: white;
	font-weight: bold;
}

div#tabs {
	background-color: #eaf3fd;
	border-bottom: 1px solid #c6dff9;
	padding: 2px 2px 0 15px;
	/*display: block;*/
}

#tabs-title {
	margin: 5px 5px 5px 0;
}

div#tabs ul {
	list-style: none;
	padding-top: 4px;
}

div#tabs li {
	float: left;
	margin: 0 0.5em 0 0;
	position: relative;
	padding: 5px 15px 2px 15px;
}

div#tabs li.selected {
	position: relative;
	top: 1px;
	background-color: white;
	border-width: 1px 1px 0 1px;
	border-style: solid solid none solid;
	border-color: #c6dff9;
}

div#content {
	padding: 1.5em;
	clear: both;
	overflow:auto;
	padding-bottom: 50px;
}

div.back-link {
	background-color: #eaf3fd;
	border-bottom: 1px solid #c6dff9;
	padding: 2px 2px 2px 10px;
}

a.action-link {
	font-size: 125%;
	font-weight: bold;
}

input[type="submit"].default {
	font-weight: bold;
}

div.warning, div.error {
	margin: 10px 10px 10px 0;
	padding: 10px;
	width: 50%;
}

div.warning {
	background-color: #fff4c2;
	border: 1px solid #ffcc33;
}

div.error {
	background-color: #ffdbdb;
	border: 1px solid #ff8080;
    text-align: center;
}


/*******************************************************************************
*                             SPECIFIC INFORMATION                             *
*******************************************************************************/

form.login ul {
    list-style: none;
}

form.login ul label:not([for=id_domain_0_other]) {
    font-weight: bold;
}

.admin-label {
	color: green;
}

.email-username {
	color: black;
}

.email-domain {
	color: gray;
}

table.roles td {
	text-align: center;
}


/*******************************************************************************
*                                OBJECTS TABLE                                 *
*******************************************************************************/

table.objects_table {
	margin-top: 1.5em;
	border-collapse: collapse;
}

table.objects_table tr.header th {
	background: url('/static/images/tablebar_bg.png') repeat-x scroll center bottom;
	border-bottom: 1px solid #ccc;
}

table.objects_table tr.data td {
	border-bottom: 1px solid lightgray;
}

table.objects_table tr.header th, table.objects_table tr.data td {
	/*padding: 2px 5px;*/
	text-align: left;
}

table.objects_table tr.header th,
table.objects_table tr.data td {
    padding: 5px 5px;
}

table.objects_table tr.header.can_change th,
table.objects_table tr.data.can_change td {
	padding: 2px 5px;
}

table.objects_table tr.data.can_change:hover td {
	background-color: #ffc;
	cursor: pointer;
}

table.objects_table tr.selected td {
	background-color: #ffc;
}

table.objects_table tr.bar th {
	background: none repeat scroll 0 0 #c2cdd8;
	padding: 4px;
	
	text-align: left;
}


/*******************************************************************************
*                                DETAILS TABLE                                 *
*******************************************************************************/

form.details {
	padding: 10px 25px;
}

table.details {
	margin-top: 1em;
	border-collapse: collapse;
}

table.details > tbody > tr > th, table.details > tbody > tr > td {
	border-top: 1px solid #ccc;
	vertical-align: top;
	padding: 10px 0 15px 0;
}

table.details > tbody > tr.noline > th, table.details > tbody > tr.noline > td {
	border-top-style: none;
	padding-top: 0px;
}

table.details > tbody > tr > th {
	padding-right: 20px;
	width: 12em;
	text-align: right;
}

form input[type="text"],
form input[type="password"],
input[type="text"].normal,
input[type="password"].normal {
	width: 150px;
}
form select,
select.normal {
	width: 156px;
}

input[type="text"].short,
input[type="password"].short {
	width: 100px;
}
select.short {
	width: 106px;
}

input[type="text"].long,
input[type="password"].long {
	width: 250px;
}
select.long {
	width: 256px;
}

input[type="text"].vshort,
input[type="password"].vshort {
	width: 50px;
}
select.vshort {
	width: 56px;
}
