div.back {
	background-color: #eaf3fd;
	border-bottom: 1px solid #c6dff9;
	padding: 2px;
}

form.details {
	padding: 10px 25px;
}

table.details {
	border-collapse: collapse;
}

table.details th, table.details td {
	border-top: 1px solid #ccc;
	vertical-align: top;
	padding: 10px 0 15px 0;
}

table.details tr.first th, table.details tr.first td {
	border-top-style: none;
}

table.details th {
	padding-right: 20px;
	width: 12em;
	text-align: right;
}
