{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Create domain" %}{% endblock %}

{% block content %}
<form action="{% url domain-create %}" method="POST" class="create">
	<h1>{% trans "Create new domain" %}</h1>
	
	<label for="domain">{% trans "Domain" %}</label><br/>
	{% with form.domain as field %}{% include "snippets/form_bare_field.html" %}{% endwith %}
	
	<br/><br/>
	<label for="admin_email">{% trans "Administrator email" %}</label><br/>
	{% with form.admin_email as field %}{% include "snippets/form_bare_field.html" %}{% endwith %}
	
	<br/><br/>
	<label for="admin_password">{% trans "Administrator password" %}</label><br/>
	{% with form.admin_password as field %}{% include "snippets/form_bare_field.html" %}{% endwith %}
	
	<br/><br/>
	<label for="is_enabled">{% trans "Enabled" %}</label>:
	{% with form.is_enabled as field %}{% include "snippets/form_bare_field.html" %}{% endwith %}
	
	<br/><br/>
	<label for="Independent">{% trans "Independent" %}</label>:
	{% with form.is_independent as field %}{% include "snippets/form_bare_field.html" %}{% endwith %}
	
	<br/><br/>
	<input type="submit" value="{% trans "create" %}" class="default"/>
	<input type="button" onclick="window.open('{% url domains %}', '_self')" value="{% trans "cancel" %}"/>
</form>
{% endblock %}
